{{#isnt @root/isPreview true}}
    {{#each this}}
        <div class="view-topper">
            <div class="second-bar">
                <h2 class="second-bar-title">{{title}}</h2>
            </div>
        </div>
        <div class="section-details section-details-generic">
            {{{markdownify body}}}
        </div>
    {{/each}}
{{/isnt}}

{{#is @root/isPreview true}}
    {{#each fields}}
        {{#is name "medium"}}
            <div class="preview-box-heading">Artikeln visas i <b>{{parsemedium value}}</b></div>
        {{/is}}
    {{/each}}

    <div class="section-details section-details-generic">
        {{#each fields}}
            {{#is name "body"}}
                {{{markdownify value}}}
            {{/is}}
            {{#is name "externallink"}}
                {{#if value}}
                    Artikeln är en länk till {{value}}
                {{/if}}
            {{/is}}
        {{/each}}
    </div>
{{/is}}
